body{
    margin: 0;
}

ul{
    list-style-type: none;
}


nav{
    padding-left: 0;
    width: 20%;
    margin: 0;
    border-right: pink;

    position: relative;
    display: flex;
    flex-direction: row;
}

section{
    padding: 0 0 0 10.8%;
    margin-top: 0;
}

nav ul{
    background-color: pink;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    border-right: 2px solid pink;
}

nav li a{
    display: block;
    padding: 8px 16px;
    color: ghostwhite;
    list-style: none;
    text-decoration: none;
}

nav li:first-child{
    font-size: 24px;
    color: ghostwhite;
    text-decoration: underline;
}

nav li:last-child{
    border-bottom: none;
    border-right: none;
}

.menu{
    position: fixed;
    width: 100%;
    border: none;
    padding: 0;
    margin-top: 0;
}

.menu ul{

    float: top;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: ghostwhite;
    font-weight: 400;
    list-style-type: none;
    margin-top: -40px;
    padding: 0;
}

.menu ul li{
    border-right: 1px solid ghostwhite;
    float: left;
}

.menu li a{
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active)
{
    background-color: pink;
    color: ghostwhite;
}

.menu li:last-child{
    border-right: none;
}

.menu .active{
    color: white;
    background-color: pink;
}