nav{
    padding-left: 10px;
    max-width: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    border-right: 2px solid pink;
}

nav li a{
    display: block;
    padding: 8px 16px;
    color: rosybrown;
    list-style: none;
    text-decoration: none;
    text-decoration-color: rosybrown;
}

nav li:last-child{
    border-bottom: none;
    border-right: none;
}

img{
    color: rosybrown;

}

.menu ul{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: ghostwhite;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li{
    border-right: 1px solid ghostwhite;
    float: left;
}

.menu li a{
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover:not(.active)
{
    background-color: pink;
    color: ghostwhite;
}

.menu li:last-child{
    border-right: none;
}

.menu .active{
    color: white;
    background-color: pink;
}